<!DOCTYPE HTML>
<!--
	Overflow by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>My Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/toAddPics.css" rel="stylesheet"> 
		<link rel="stylesheet" href="../assets/css/main.css" />
		<link rel="stylesheet" href="../css/stylish-portfolio.css" />
	</head>

	<body class="loading">

		<div id="wrapper">

	    {{> menu_bar_signedin}}
		<div id="wrapper">
			<div id="bg"></div>
				<div id="main"></div>
			</div>
				
			<section id="moveit">
				<h1>Welcome To Your Profile!</h1>
			
				<div id="home-buttons">
					<a href="/edit_tripdiary" class="btn btn-dark btn-lg">Edit Trip Diary</a>
					<a href="/saved_trips" class="btn btn-dark btn-lg">Saved Trips</a>
					<a href="/saved_profiles" class="btn btn-dark btn-lg">Saved Users</a>
				</div>
			</section>
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
		<!-- jQuery -->
		<script src="../js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="../js/bootstrap.min.js"></script>

		<script src="../js/signup.js"></script>
		<!-- Scripts -->
		<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/jquery.scrolly.min.js"></script>
		<script src="../assets/js/jquery.poptrox.min.js"></script>
		<script src="../assets/js/skel.min.js"></script>
		<script src="../assets/js/util.js"></script>


		<!-- Custom Theme JavaScript -->
		<script>
		// Closes the sidebar menu
		$("#menu-close").click(function(e) {
		    e.preventDefault();
		    $("#sidebar-wrapper").toggleClass("active");
		});

		// Opens the sidebar menu
		$("#menu-toggle").click(function(e) {
		    e.preventDefault();
		    $("#sidebar-wrapper").toggleClass("active");
		});

		// Scrolls to the selected menu item on the page
		$(function() {
		    $('a[href*=#]:not([href=#])').click(function() {
		        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

		            var target = $(this.hash);
		            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
		            if (target.length) {
		                $('html,body').animate({
		                    scrollTop: target.offset().top
		                }, 1000);
		                return false;
		            }
		        }
		    });
		});
		</script>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (blelow), or include individual files as needed -->
		<script src="/js/jquery-1.11.0.js"></script>
		<script src="/js/bootstrap.js"></script>
		<script src="/routes/addPicture.js"></script>
	</body>
</html>